
<a class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true" @onclick="()=>OnSelledServiceSelected.InvokeAsync(SelledService)">
    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">@SelledService.Count x @SelledService.Service.Title</strong>
        <small class="text-body-secondary">@SelledService.Count x @SelledService.Price = </small>
        <strong class="mb-1">@subtotal Lei</strong>
    </div>
    <div class="col-10 mb-1 small">@SelledService.User.Title</div>
</a>

@code {

    [Parameter]
    public SelledService SelledService { get; set; }

    [Parameter]
    public float subtotal { get; set; }

    [Parameter]
    public EventCallback<SelledService> OnSelledServiceSelected { get; set; }
}
